/* Deafult Margin & Padding */
/*-- Margin Top --*/
.mt-5 {
	margin-top: 0.3125rem;
}
.mt-10 {
	margin-top: 0.625rem;
}
.mt-15 {
	margin-top: 0.9375rem;
}
.mt-20 {
	margin-top: 1.25rem;
}
.mt-25 {
	margin-top: 1.5625rem;
}
.mt-30 {
	margin-top: 1.875rem;
}
.mt-35 {
	margin-top: 2.1875rem;
}
.mt-40 {
	margin-top: 2.5rem;
}
.mt-45 {
	margin-top: 2.8125rem;
}
.mt-50 {
	margin-top: 3.125rem;
}
.mt-55 {
	margin-top: 3.4375rem;
}
.mt-60 {
	margin-top: 3.75rem;
}
.mt-65 {
	margin-top: 4.0625rem;
}
.mt-70 {
	margin-top: 4.375rem;
}
.mt-75 {
	margin-top: 4.6875rem;
}
.mt-80 {
	margin-top: 5rem;
}
.mt-85 {
	margin-top: 5.3125rem;
}
.mt-90 {
	margin-top: 5.625rem;
}
.mt-95 {
	margin-top: 5.9375rem;
}
.mt-100 {
	margin-top: 6.25rem;
}
.mt-105 {
	margin-top: 6.5625rem;
}
.mt-110 {
	margin-top: 6.875rem;
}
.mt-115 {
	margin-top: 7.1875rem;
}
.mt-120 {
	margin-top: 7.5rem;
}
.mt-125 {
	margin-top: 7.8125rem;
}
.mt-130 {
	margin-top: 8.125rem;
}
.mt-135 {
	margin-top: 8.4375rem;
}
.mt-140 {
	margin-top: 8.75rem;
}
.mt-145 {
	margin-top: 9.0625rem;
}
.mt-150 {
	margin-top: 9.375rem;
}
.mt-155 {
	margin-top: 9.6875rem;
}
.mt-160 {
	margin-top: 10rem;
}
.mt-165 {
	margin-top: 10.3125rem;
}
.mt-170 {
	margin-top: 10.625rem;
}
.mt-175 {
	margin-top: 10.9375rem;
}
.mt-180 {
	margin-top: 11.25rem;
}
.mt-185 {
	margin-top: 11.5625rem;
}
.mt-190 {
	margin-top: 11.875rem;
}
.mt-195 {
	margin-top: 12.1875rem;
}
.mt-200 {
	margin-top: 12.5rem;
}
/*-- Margin Bottom --*/

.mb-5 {
	margin-bottom: 0.3125rem;
}
.mb-10 {
	margin-bottom: 0.625rem;
}
.mb-15 {
	margin-bottom: 0.9375rem;
}
.mb-20 {
	margin-bottom: 1.25rem;
}
.mb-25 {
	margin-bottom: 1.5625rem;
}
.mb-30 {
	margin-bottom: 1.875rem;
}
.mb-35 {
	margin-bottom: 2.1875rem;
}
.mb-40 {
	margin-bottom: 2.5rem;
}
.mb-45 {
	margin-bottom: 2.8125rem;
}
.mb-50 {
	margin-bottom: 3.125rem;
}
.mb-55 {
	margin-bottom: 3.4375rem;
}
.mb-60 {
	margin-bottom: 3.75rem;
}
.mb-65 {
	margin-bottom: 4.0625rem;
}
.mb-70 {
	margin-bottom: 4.375rem;
}
.mb-75 {
	margin-bottom: 4.6875rem;
}
.mb-80 {
	margin-bottom: 5rem;
}
.mb-85 {
	margin-bottom: 5.3125rem;
}
.mb-90 {
	margin-bottom: 5.625rem;
}
.mb-95 {
	margin-bottom: 5.9375rem;
}
.mb-100 {
	margin-bottom: 6.25rem;
}
.mb-105 {
	margin-bottom: 6.5625rem;
}
.mb-110 {
	margin-bottom: 6.875rem;
}
.mb-115 {
	margin-bottom: 7.1875rem;
}
.mb-120 {
	margin-bottom: 7.5rem;
}
.mb-125 {
	margin-bottom: 7.8125rem;
}
.mb-130 {
	margin-bottom: 8.125rem;
}
.mb-135 {
	margin-bottom: 8.4375rem;
}
.mb-140 {
	margin-bottom: 8.75rem;
}
.mb-145 {
	margin-bottom: 9.0625rem;
}
.mb-150 {
	margin-bottom: 9.375rem;
}
.mb-155 {
	margin-bottom: 9.6875rem;
}
.mb-160 {
	margin-bottom: 10rem;
}
.mb-165 {
	margin-bottom: 10.3125rem;
}
.mb-170 {
	margin-bottom: 10.625rem;
}
.mb-175 {
	margin-bottom: 10.9375rem;
}
.mb-180 {
	margin-bottom: 11.25rem;
}
.mb-185 {
	margin-bottom: 11.5625rem;
}
.mb-190 {
	margin-bottom: 11.875rem;
}
.mb-195 {
	margin-bottom: 12.1875rem;
}
.mb-200 {
	margin-bottom: 12.5rem;
}
/*-- margin left --*/
.ml-5 {
	margin-left: 0.3125rem;
}
.ml-10 {
	margin-left: 0.625rem;
}
.ml-15 {
	margin-left: 0.9375rem;
}
.ml-20 {
	margin-left: 1.25rem;
}
.ml-25 {
	margin-left: 1.5625rem;
}
.ml-30 {
	margin-left: 1.875rem;
}
.ml-35 {
	margin-left: 2.1875rem;
}
.ml-40 {
	margin-left: 2.5rem;
}
.ml-45 {
	margin-left: 2.8125rem;
}
.ml-50 {
	margin-left: 3.125rem;
}
.ml-55 {
	margin-left: 3.4375rem;
}
.ml-60 {
	margin-left: 3.75rem;
}
.ml-65 {
	margin-left: 4.0625rem;
}
.ml-70 {
	margin-left: 4.375rem;
}
.ml-75 {
	margin-left: 4.6875rem;
}
.ml-80 {
	margin-left: 5rem;
}
.ml-85 {
	margin-left: 5.3125rem;
}
.ml-90 {
	margin-left: 5.625rem;
}
.ml-95 {
	margin-left: 5.9375rem;
}
.ml-100 {
	margin-left: 6.25rem;
}
.ml-105 {
	margin-left: 6.5625rem;
}
.ml-110 {
	margin-left: 6.875rem;
}
.ml-115 {
	margin-left: 7.1875rem;
}
.ml-120 {
	margin-left: 7.5rem;
}
.ml-125 {
	margin-left: 7.8125rem;
}
.ml-130 {
	margin-left: 8.125rem;
}
.ml-135 {
	margin-left: 8.4375rem;
}
.ml-140 {
	margin-left: 8.75rem;
}
.ml-145 {
	margin-left: 9.0625rem;
}
.ml-150 {
	margin-left: 9.375rem;
}
.ml-155 {
	margin-left: 9.6875rem;
}
.ml-160 {
	margin-left: 10rem;
}
.ml-165 {
	margin-left: 10.3125rem;
}
.ml-170 {
	margin-left: 10.625rem;
}
.ml-175 {
	margin-left: 10.9375rem;
}
.ml-180 {
	margin-left: 11.25rem;
}
.ml-185 {
	margin-left: 11.5625rem;
}
.ml-190 {
	margin-left: 11.875rem;
}
.ml-195 {
	margin-left: 12.1875rem;
}
.ml-200 {
	margin-left: 12.5rem;
}
/*-- margin right --*/
.mr-5 {
	margin-right: 0.3125rem;
}
.mr-10 {
	margin-right: 0.625rem;
}
.mr-15 {
	margin-right: 0.9375rem;
}
.mr-20 {
	margin-right: 1.25rem;
}
.mr-25 {
	margin-right: 1.5625rem;
}
.mr-30 {
	margin-right: 1.875rem;
}
.mr-35 {
	margin-right: 2.1875rem;
}
.mr-40 {
	margin-right: 2.5rem;
}
.mr-45 {
	margin-right: 2.8125rem;
}
.mr-50 {
	margin-right: 3.125rem;
}
.mr-55 {
	margin-right: 3.4375rem;
}
.mr-60 {
	margin-right: 3.75rem;
}
.mr-65 {
	margin-right: 4.0625rem;
}
.mr-70 {
	margin-right: 4.375rem;
}
.mr-75 {
	margin-right: 4.6875rem;
}
.mr-80 {
	margin-right: 5rem;
}
.mr-85 {
	margin-right: 5.3125rem;
}
.mr-90 {
	margin-right: 5.625rem;
}
.mr-95 {
	margin-right: 5.9375rem;
}
.mr-100 {
	margin-right: 6.25rem;
}
.mr-105 {
	margin-right: 6.5625rem;
}
.mr-110 {
	margin-right: 6.875rem;
}
.mr-115 {
	margin-right: 7.1875rem;
}
.mr-120 {
	margin-right: 7.5rem;
}
.mr-125 {
	margin-right: 7.8125rem;
}
.mr-130 {
	margin-right: 8.125rem;
}
.mr-135 {
	margin-right: 8.4375rem;
}
.mr-140 {
	margin-right: 8.75rem;
}
.mr-145 {
	margin-right: 9.0625rem;
}
.mr-150 {
	margin-right: 9.375rem;
}
.mr-155 {
	margin-right: 9.6875rem;
}
.mr-160 {
	margin-right: 10rem;
}
.mr-165 {
	margin-right: 10.3125rem;
}
.mr-170 {
	margin-right: 10.625rem;
}
.mr-175 {
	margin-right: 10.9375rem;
}
.mr-180 {
	margin-right: 11.25rem;
}
.mr-185 {
	margin-right: 11.5625rem;
}
.mr-190 {
	margin-right: 11.875rem;
}
.mr-195 {
	margin-right: 12.1875rem;
}
.mr-200 {
	margin-right: 12.5rem;
}


/*-- Padding Top --*/

.pt-5 {
	padding-top: 0.3125rem;
}
.pt-10 {
	padding-top: 0.625rem;
}
.pt-15 {
	padding-top: 0.9375rem;
}
.pt-20 {
	padding-top: 1.25rem;
}
.pt-25 {
	padding-top: 1.5625rem;
}
.pt-30 {
	padding-top: 1.875rem;
}
.pt-35 {
	padding-top: 2.1875rem;
}
.pt-40 {
	padding-top: 2.5rem;
}
.pt-45 {
	padding-top: 2.8125rem;
}
.pt-50 {
	padding-top: 3.125rem;
}
.pt-55 {
	padding-top: 3.4375rem;
}
.pt-60 {
	padding-top: 3.75rem;
}
.pt-65 {
	padding-top: 4.0625rem;
}
.pt-70 {
	padding-top: 4.375rem;
}
.pt-75 {
	padding-top: 4.6875rem;
}
.pt-80 {
	padding-top: 5rem;
}
.pt-85 {
	padding-top: 5.3125rem;
}
.pt-90 {
	padding-top: 5.625rem;
}
.pt-95 {
	padding-top: 5.9375rem;
}
.pt-100 {
	padding-top: 6.25rem;
}
.pt-105 {
	padding-top: 6.5625rem;
}
.pt-110 {
	padding-top: 6.875rem;
}
.pt-115 {
	padding-top: 7.1875rem;
}
.pt-120 {
	padding-top: 7.5rem;
}
.pt-125 {
	padding-top: 7.8125rem;
}
.pt-130 {
	padding-top: 8.125rem;
}
.pt-135 {
	padding-top: 8.4375rem;
}
.pt-140 {
	padding-top: 8.75rem;
}
.pt-145 {
	padding-top: 9.0625rem;
}
.pt-150 {
	padding-top: 9.375rem;
}
.pt-155 {
	padding-top: 9.6875rem;
}
.pt-160 {
	padding-top: 10rem;
}
.pt-165 {
	padding-top: 10.3125rem;
}
.pt-170 {
	padding-top: 10.625rem;
}
.pt-175 {
	padding-top: 10.9375rem;
}
.pt-180 {
	padding-top: 11.25rem;
}
.pt-185 {
	padding-top: 11.5625rem;
}
.pt-190 {
	padding-top: 11.875rem;
}
.pt-195 {
	padding-top: 12.1875rem;
}
.pt-200 {
	padding-top: 12.5rem;
}
/*-- Padding Bottom --*/

.pb-5 {
	padding-bottom: 0.3125rem;
}
.pb-10 {
	padding-bottom: 0.625rem;
}
.pb-15 {
	padding-bottom: 0.9375rem;
}
.pb-20 {
	padding-bottom: 1.25rem;
}
.pb-25 {
	padding-bottom: 1.5625rem;
}
.pb-30 {
	padding-bottom: 1.875rem;
}
.pb-35 {
	padding-bottom: 2.1875rem;
}
.pb-40 {
	padding-bottom: 2.5rem;
}
.pb-45 {
	padding-bottom: 2.8125rem;
}
.pb-50 {
	padding-bottom: 3.125rem;
}
.pb-55 {
	padding-bottom: 3.4375rem;
}
.pb-60 {
	padding-bottom: 3.75rem;
}
.pb-65 {
	padding-bottom: 4.0625rem;
}
.pb-70 {
	padding-bottom: 4.375rem;
}
.pb-75 {
	padding-bottom: 4.6875rem;
}
.pb-80 {
	padding-bottom: 5rem;
}
.pb-85 {
	padding-bottom: 5.3125rem;
}
.pb-90 {
	padding-bottom: 5.625rem;
}
.pb-95 {
	padding-bottom: 5.9375rem;
}
.pb-100 {
	padding-bottom: 6.25rem;
}
.pb-105 {
	padding-bottom: 6.5625rem;
}
.pb-110 {
	padding-bottom: 6.875rem;
}
.pb-115 {
	padding-bottom: 7.1875rem;
}
.pb-120 {
	padding-bottom: 7.5rem;
}
.pb-125 {
	padding-bottom: 7.8125rem;
}
.pb-130 {
	padding-bottom: 8.125rem;
}
.pb-135 {
	padding-bottom: 8.4375rem;
}
.pb-140 {
	padding-bottom: 8.75rem;
}
.pb-145 {
	padding-bottom: 9.0625rem;
}
.pb-150 {
	padding-bottom: 9.375rem;
}
.pb-155 {
	padding-bottom: 9.6875rem;
}
.pb-160 {
	padding-bottom: 10rem;
}
.pb-165 {
	padding-bottom: 10.3125rem;
}
.pb-170 {
	padding-bottom: 10.625rem;
}
.pb-175 {
	padding-bottom: 10.9375rem;
}
.pb-180 {
	padding-bottom: 11.25rem;
}
.pb-185 {
	padding-bottom: 11.5625rem;
}
.pb-190 {
	padding-bottom: 11.875rem;
}
.pb-195 {
	padding-bottom: 12.1875rem;
}
.pb-200 {
	padding-bottom: 12.5rem;
}

/*-- Padding left --*/

.pl-0 {
	padding-left: 0rem;
}
.pl-5 {
	padding-left: 0.3125rem;
}
.pl-10 {
	padding-left: 0.625rem;
}
.pl-15 {
	padding-left: 0.9375rem;
}
.pl-20 {
	padding-left: 1.25rem;
}
.pl-25 {
	padding-left: 1.5625rem;
}
.pl-30 {
	padding-left: 1.875rem;
}
.pl-35 {
	padding-left: 2.1875rem;
}
.pl-40 {
	padding-left: 2.5rem;
}
.pl-45 {
	padding-left: 2.8125rem;
}
.pl-50 {
	padding-left: 3.125rem;
}
.pl-55 {
	padding-left: 3.4375rem;
}
.pl-60 {
	padding-left: 3.75rem;
}
.pl-65 {
	padding-left: 4.0625rem;
}
.pl-70 {
	padding-left: 4.375rem;
}
.pl-75 {
	padding-left: 4.6875rem;
}
.pl-80 {
	padding-left: 5rem;
}
.pl-85 {
	padding-left: 5.3125rem;
}
.pl-90 {
	padding-left: 5.625rem;
}
.pl-100 {
	padding-left: 6.25rem;
}
.pl-105 {
	padding-left: 6.5625rem;
}
.pl-110 {
	padding-left: 6.875rem;
}
.pl-115 {
	padding-left: 7.1875rem;
}
.pl-120 {
	padding-left: 7.5rem;
}
.pl-125 {
	padding-left: 7.8125rem;
}
/*-- Padding right --*/

.pr-0 {
	padding-right: 0rem;
}
.pr-5 {
	padding-right: 0.3125rem;
}
.pr-10 {
	padding-right: 0.625rem;
}
.pr-15 {
	padding-right: 0.9375rem;
}
.pr-20 {
	padding-right: 1.25rem;
}
.pr-25 {
	padding-right: 1.5625rem;
}
.pr-30 {
	padding-right: 1.875rem;
}
.pr-35 {
	padding-right: 2.1875rem;
}
.pr-40 {
	padding-right: 2.5rem;
}
.pr-45 {
	padding-right: 2.8125rem;
}
.pr-50 {
	padding-right: 3.125rem;
}
.pr-55 {
	padding-right: 3.4375rem;
}
.pr-60 {
	padding-right: 3.75rem;
}
.pr-65 {
	padding-right: 4.0625rem;
}
.pr-70 {
	padding-right: 4.375rem;
}
.pr-75 {
	padding-right: 4.6875rem;
}
.pr-80 {
	padding-right: 5rem;
}
.pr-85 {
	padding-right: 5.3125rem;
}
.pr-90 {
	padding-right: 5.625rem;
}
.pr-95 {
	padding-right: 5.9375rem;
}
.pr-100 {
	padding-right: 6.25rem;
}
.pr-105 {
	padding-right: 6.5625rem;
}
/* Background Color */

.gray-bg {
	background: #f6f6f6;
}
.white-bg {
	background: #fff;
}
.black-bg {
	background: #222;
}
/* Color */

.white {
	color: #fff;
}
.black {
	color: #222;
}
/* black overlay */

[data-overlay] {
	position: relative;
}
[data-overlay]::before {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
[data-overlay="3"]::before {
	opacity: 0.3;
}
[data-overlay="4"]::before {
	opacity: 0.4;
}
[data-overlay="5"]::before {
	opacity: 0.5;
}
[data-overlay="6"]::before {
	opacity: 0.6;
}
[data-overlay="7"]::before {
	opacity: 0.7;
}
[data-overlay="8"]::before {
	opacity: 0.8;
}
[data-overlay="9"]::before {
	opacity: 0.9;
}