@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.64);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

ul,
ol {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0rem;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.0625rem solid #2c1c0f;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2.375rem;
  line-height: 2.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #2c1c0f;
}
.main-btn i {
  margin-right: 0.75rem;
}
.main-btn:hover {
  background-color: #e7eaff;
  color: #2c1c0f;
  border-color: #e7eaff;
}

/*===== All Button Style =====*/
.section-title .sub-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1.875rem;
}
@media (max-width: 47.9375rem) {
  .section-title .sub-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.section-title .main-title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.8125rem;
}
@media only screen and (min-width: 62rem) and (max-width: 75rem) {
  .section-title .main-title {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
@media (max-width: 47.9375rem) {
  .section-title .main-title {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
}
.section-title .text {
  margin-top: 1.1875rem;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  margin-left: -2rem;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #2c1c0f #2c1c0f #a4a4a4;
  border-radius: 50%;
  border-width: 0.375rem;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #a4a4a4;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #a4a4a4;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
/*===========================
    2.HEADER css 
===========================*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding-bottom: 1.25rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler {
  padding: 0;
}
.navbar-toggler .toggler-icon {
  width: 1.875rem;
  height: 0.125rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.3125rem 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0.4375rem;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -0.4375rem;
}

@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 0.9375rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  }
}
@media (max-width: 47.9375rem) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0rem 0.75rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  }
}

.navbar-nav .nav-item {
  margin-left: 2.1875rem;
}
.navbar-nav .nav-item:first-child {
  margin-left: 0;
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .navbar-nav .nav-item {
    margin: 0.3125rem 0;
  }
}
@media (max-width: 47.9375rem) {
  .navbar-nav .nav-item {
    margin: 0.3125rem 0;
  }
}
.navbar-nav .nav-item a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-nav .nav-item a.active {
  color: #2c1c0f;
}
.navbar-nav .nav-item:hover a {
  color: #2c1c0f;
}

.navbar-btn {
  margin-left: 1.5625rem;
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 3.4375rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 47.9375rem) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 2.8125rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 36rem) and (max-width: 47.9375rem) {
  .navbar-btn {
    right: 3.4375rem;
  }
}
@media (max-width: 47.9375rem) {
  .navbar-btn .main-btn {
    font-size: 0.875rem;
    padding: 0 0.5rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 36rem) and (max-width: 47.9375rem) {
  .navbar-btn .main-btn {
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .navbar-btn .main-btn i {
    margin-right: 0.3125rem;
  }
}
@media only screen and (min-width: 36rem) and (max-width: 47.9375rem) {
  .navbar-btn .main-btn i {
    margin-right: 0rem;
  }
}

.sticky {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  z-index: 99;
}

/*===== Header Banner =====*/
.header-banner {
  height: 45rem;
}
@media only screen and (min-width: 87.5rem) {
  .header-banner {
    height: 60rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .header-banner {
    background-position: left center;
  }
}
@media (max-width: 47.9375rem) {
  .header-banner {
    background-position: left center;
    height: 41.875rem;
  }
}

.header-banner2 {
  height: auto;
}
@media only screen and (min-width: 87.5rem) {
  .header-banner2 {
    height: 60rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .header-banner2 {
    background-position: right center;
  }
}
@media (max-width: 47.9375rem) {
  .header-banner2 {
    background-position: left center;
    height: 41.875rem;
  }
}



.header-banner-content .sub-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1.875rem;
}
@media (max-width: 47.9375rem) {
  .header-banner-content .sub-title {
    font-size: 1.125rem;
  }
}
.header-banner-content .header-title {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 3.75rem;
  padding-bottom: 0.625rem;
}
@media only screen and (min-width: 62rem) and (max-width: 75rem) {
  .header-banner-content .header-title {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
@media (max-width: 47.9375rem) {
  .header-banner-content .header-title {
    font-size: 1.875rem;
    line-height: 2.875rem;
  }
}
.header-banner-content ul {
  padding-top: 1.25rem;
}
.header-banner-content ul li {
  display: inline-block;
  margin-top: 0.625rem;
  margin-right: 1.5625rem;
}
.header-banner-content ul li:last-child {
  margin-right: 0;
}
.header-banner-content ul li .banner-preview {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  line-height: 1.5rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.header-banner-content ul li .banner-preview i {
  margin-right: 0.3125rem;
}
.header-banner-content ul li .banner-preview:hover {
  color: #2c1c0f;
}

/*===========================
      3.INSIDE css 
===========================*/
.inside-area {
  position: relative;
}

.inside-illustration {
  position: absolute;
  bottom: 0;
  left: 1.1875rem;
}
@media only screen and (min-width: 87.5rem) {
  .inside-illustration {
    left: 13%;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .inside-illustration {
    position: relative;
    width: 45rem;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}
@media (max-width: 47.9375rem) {
  
  .inside-illustration {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}

@media (max-width: 43.75rem)
{
  .inside-area{
    padding-top: 25rem;
  }
}

.single-inside-items {
  padding-top: 2.4375rem;
}
.single-inside-items .inside-items-content {
  padding-top: 0.875rem;
}
.single-inside-items .inside-items-content .inside-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
}
@media (max-width: 47.9375rem) {
  .single-inside-items .inside-items-content .inside-title {
    font-size: 1.25rem;
  }
}
.single-inside-items .inside-items-content .text {
  margin-top: 0.5rem;
}

/*===========================
       4.LEARN css 
===========================*/
.learn-area {
  background-color: #f8f8f8;
}

.learn-video {
  position: relative;
}
.learn-video a {
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.64);
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 47.9375rem) {
  .learn-video a {
    width: 4.25rem;
    height: 4.25rem;
    line-height: 4.25rem;
    font-size: 2.875rem;
  }
}

/*===========================
       4.FEATURES css 
===========================*/
.features-image img {
  width: 100%;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.features-image:hover img {
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
}

/*===========================
       5.READERS css 
===========================*/
.readers-area {
  background-color: #f8f8f8;
  padding-bottom: 12.8125rem;
  position: relative;
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .readers-area {
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .readers-area {
    padding-bottom: 7.5rem;
  }
}

.readers-illustration {
  position: absolute;
  bottom: 0;
  left: 1.1875rem;
}
@media only screen and (min-width: 87.5rem) {
  .readers-illustration {
    left: 13%;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .readers-illustration {
    position: relative;
    width: 45rem;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}
@media (max-width: 47.9375rem) {
  .readers-illustration {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}

.single-readers-items .readers-items-content {
  padding-left: 1rem;
}
.single-readers-items .readers-items-content .readers-title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.875rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 47.9375rem) {
  .single-readers-items .readers-items-content .readers-title a {
    font-size: 1.25rem;
  }
}
.single-readers-items .readers-items-content .readers-title a:hover {
  color: #2c1c0f;
}
.single-readers-items .readers-items-content .text {
  margin-top: 0.5rem;
}

/*===========================
     5.AUTHOR css 
===========================*/
.author-content .title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: rgba(0, 0, 0, 0.64);
}
@media (max-width: 47.9375rem) {
  .author-content .title {
    font-size: 1.25rem;
  }
}
.author-content .text {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  position: relative;
  padding-left: 2.5rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  margin-top: 3rem;
}
@media (max-width: 47.9375rem) {
  .author-content .text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding-left: 1.875rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
.author-content .text::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: #c4c4c4;
  border-radius: 1rem;
  left: 0;
  top: 0;
}
.author-content .name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-top: 3rem;
}
.author-content .sub-title {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
}
.author-content .social {
  margin-top: 1rem;
}
.author-content .social li {
  display: inline-block;
  margin-right: 0.375rem;
}
.author-content .social li a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.64);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.author-content .social li a:hover {
  color: #2c1c0f;
}

.author-active .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
}
.author-active .slick-dots li {
  display: inline-block;
  margin: 0 0.25rem;
}
.author-active .slick-dots li button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.64);
  border: 0;
  padding: 0;
  font-size: 0;
}
.author-active .slick-dots li.slick-active button {
  background-color: #2c1c0f;
}

/*===========================
     6.TESTIMONIAL css 
===========================*/
.testimonial-area {
  background-color: #f8f8f8;
  position: relative;
}

.testimonial-illustration {
  position: absolute;
  bottom: 0;
  left: 1.1875rem;
}
@media only screen and (min-width: 87.5rem) {
  .testimonial-illustration {
    left: 13%;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .testimonial-illustration {
    position: relative;
    width: 45rem;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}
@media (max-width: 47.9375rem) {
  .testimonial-illustration {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9375rem;
    left: 0;
  }
}

.testimonial-more a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #2c1c0f;
  margin-top: 3.5rem;
}

.single-testimonial {
  margin-top: 3rem;
}
.single-testimonial .testimonial-author img {
  border-radius: 50%;
}
.single-testimonial .testimonial-content {
  padding-left: 1rem;
}
.single-testimonial .testimonial-content .author-name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
}
.single-testimonial .testimonial-content .sub-title {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba(0, 0, 0, 0.64);
}

/*===========================
     7.FEATURED css 
===========================*/
.single-featured {
  margin: 0.625rem 0;
}
.single-featured img {
  width: 100%;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-featured:hover img {
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
}

.featured-active .slick-dots {
  text-align: center;
  width: 100%;
  margin-top: 0.75rem;
}
.featured-active .slick-dots li {
  display: inline-block;
  margin: 0 0.25rem;
}
.featured-active .slick-dots li button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.64);
  border: 0;
  padding: 0;
  font-size: 0;
}
.featured-active .slick-dots li.slick-active button {
  background-color: #2c1c0f;
}

/*===========================
       8.ORDER css 
===========================*/
.order-area {
  background-color: #f8f8f8;
}

.order-content .section-title .main-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.0625rem;
}
@media (max-width: 47.9375rem) {
  .order-content .section-title .main-title {
    font-size: 2.375rem;
    line-height: 2.8125rem;
  }
}

.single-order {
  background-color: #fff;
  padding: 2.375rem 1rem;
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  margin-top: 2rem;
}
.single-order .order-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
}
@media (max-width: 47.9375rem) {
  .single-order .order-title {
    font-size: 1.25rem;
  }
}
.single-order .text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.64);
}
.single-order .main-btn {
  margin-top: 1rem;
}

.order-link {
  padding-top: 1.375rem;
}
.order-link a {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.38);
  margin: 0.625rem 0.1875rem 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
}
.order-link a i {
  margin-right: 0.3125rem;
}
.order-link a:hover {
  color: #2c1c0f;
}

.order-image img {
  width: 100%;
}

.bread-logo {
  margin-top: 2rem;
}
.bread-logo img {
  width: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.bread-logo:hover img {
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
}

/*===========================
     9.OTHER BOOKS css 
===========================*/
.single-books img {
  width: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-books:hover img {
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
}

/*===========================
      10.CONTACT css 
===========================*/
.contact-area {
  background-color: #f8f8f8;
  position: relative;
}

.form-message.error,
.form-message.success {
  font-size: 1rem;
  color: #222;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.9375rem;
  background-color: #fff;
  margin-left: 0.9375rem;
}
.form-message.error {
  color: #fc3832;
}

.contact-shape-left {
  position: absolute;
  top: 3rem;
  left: 0;
}
@media only screen and (min-width: 62rem) and (max-width: 75rem) {
  .contact-shape-left img {
    width: 12.5rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .contact-shape-left img {
    width: 10.625rem;
  }
}
@media (max-width: 47.9375rem) {
  .contact-shape-left img {
    width: 5rem;
  }
}
@media only screen and (min-width: 36rem) and (max-width: 47.9375rem) {
  .contact-shape-left img {
    width: 7.5rem;
  }
}

.contact-shape-right {
  position: absolute;
  top: 3rem;
  right: 0;
}
@media only screen and (min-width: 62rem) and (max-width: 75rem) {
  .contact-shape-right img {
    width: 12.5rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .contact-shape-right img {
    width: 10.625rem;
  }
}
@media (max-width: 47.9375rem) {
  .contact-shape-right img {
    width: 5rem;
  }
}
@media only screen and (min-width: 36rem) and (max-width: 47.9375rem) {
  .contact-shape-right img {
    width: 7.5rem;
  }
}

.single-form {
  position: relative;
}
.single-form label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: -0.625rem;
  left: 2.75rem;
}
.single-form input {
  width: 100%;
  height: 3.125rem;
  border: 0;
  border-bottom: 0.125rem solid #a4a4a4;
  background-color: #f8f8f8;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 2.75rem;
  padding-right: 1.25rem;
}
.single-form i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  line-height: 3.125rem;
  left: 0.625rem;
  top: 0;
}

/*===========================
      11.FOOTER css 
===========================*/
.footer-area {
  background-color: #d8f5ff;
}

.footer-link ul li {
  margin-top: 0.75rem;
}
.footer-link ul li a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba(0, 0, 0, 0.8);
}

.footer-follow-subscribe .footer-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
}

.footer-follow .social {
  margin-top: 1rem;
}
.footer-follow .social li {
  display: inline-block;
  margin-right: 0.375rem;
}
.footer-follow .social li a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.64);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer-follow .social li a:hover {
  color: #2c1c0f;
}

.subscribe-form {
  position: relative;
}
.subscribe-form label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: -0.625rem;
  left: 2.75rem;
}
.subscribe-form input {
  width: 100%;
  height: 3.125rem;
  border: 0;
  border-bottom: 0.125rem solid #a4a4a4;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 2.75rem;
  padding-right: 1.25rem;
}
.subscribe-form input::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.8);
}
.subscribe-form input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.8);
}
.subscribe-form input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.8);
}
.subscribe-form input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.8);
}
.subscribe-form i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  line-height: 3.125rem;
  left: 0.625rem;
  top: 0;
}
.subscribe-form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0;
  border: 0;
  background: none;
}
.subscribe-form button i {
  position: relative;
  top: 0;
  left: 0;
  color: #2c1c0f;
}

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 2.25rem;
  color: #fff;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 2.8125rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  border-radius: 0.3125rem;
  background-color: #2c1c0f;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
  -webkit-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.04);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.04);
}
.back-to-top:hover {
  color: #fff;
  background-color: #2c1c0f;
}

.mandir-name {
  font-size:1.5625rem;
  text-align:center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'Jost', sans-serif;
}

.mobile-first {
  display: none;
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .mobile-first{
    display: block;
    padding-top: 5rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    padding-bottom:2.5rem;
    font-size:1.8125rem;
    text-align:center;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'Jost', sans-serif;
  }
}
@media only screen and (max-width: 47.9375rem) {
  .mobile-first{
  display: block;
  padding-top: 18.75rem;
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  padding-bottom:2.5rem;
  font-size:1.1875rem;
  text-align:center;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: 'Jost', sans-serif;
  }
}

@media only screen and (max-width: 25rem) {
  .mobile-first{
    display: block;
    padding-top: 25rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    padding-bottom:2.5rem;
    font-size:1.1875rem;
    text-align:center;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'Jost', sans-serif;
    }
}

@media only screen and (min-width: 25rem) and  (max-width: 37.5rem) {
  .mobile-first{
    display: block;
    padding-top: 12.5rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    padding-bottom:2.5rem;
    font-size:1.1875rem;
    text-align:center;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'Jost', sans-serif;
    }
}
